<h1>Dashboard
  <span class="text-sm">
    <% if policy(Infotext).edit? %>
      <%= link_to edit_infotext_path(@dashboard_text) do %>
        <i class="far fa-edit text-laitan_blue hover:text-um_blue" aria-hidden="true" title="Edit infotext area"></i>
        <span class="sr-only">Edit infotext area</span>
      <% end %>
    <% end %>
  </span>
</h1>
<div class="static-page-text">
  <%= @dashboard_text.content %>
</div>