<h1>Dashboard</h1>


<div class="dashboard-text">
  <%= @dashbord_text.content %>
</div>
<% if policy(ApplicationSetting).edit? %>
  <div>
  <%= link_to 'Edit', edit_application_setting_path(@dashbord_text), class: "action-link" %>
  </div>
<% end %>