<h1>Dashboard</h1>


<div class="dashboard-text">
  <%= @dashboard_text.content %>
</div>
<% if policy(Infotext).edit? %>
  <div>
  <%= link_to 'Edit', edit_infotext_path(@dashboard_text), class: "action-link" %>
  </div>
<% end %>