<h1 class="text-3xl font-bold text-center my-20">VOD Tools</h1>

<div>
  <%= @home_text.content %>
</div>

<div>
 <%= link_to 'Edit', edit_application_setting_path(@home_text), class: "action-link" %>
</div>
