<h1 class="text-3xl font-bold text-center my-20">VOD Tools</h1>

<div class="home-page-text">
  <%= @home_text.content %>
</div>

<% if current_user.present? %>
  <% if policy(ApplicationSetting).edit? %>
    <div>
    <%= link_to 'Edit', edit_application_setting_path(@home_text), class: "action-link" %>
    </div>
  <% end %>
<% end %>