<h1>Devices
  <span class="text-sm">
    <% if policy(Infotext).edit? %>
      <%= link_to edit_infotext_path(@device_index_text) do %>
        <i class="far fa-edit text-laitan_blue hover:text-um_blue" aria-hidden="true" title="Edit infotext area"></i>
        <span class="sr-only">Edit infotext area</span>
      <% end %>
    <% end %>
  </span>
</h1>

<div class="py-2 sm:grid sm:grid-cols-5 sm:gap-4 border-b border-laitan_blue">
  <div class="sm:col-span-4">
    <%= render partial: 'partials/info_index_toggler', locals: { infotext_resource: @device_index_text } %>
  </div>
</div>

<div>
  <%= render partial: "devices/listing" %>
</div>