<% Notification.all.each do |nt| %>
  <% if (nt.opendate..nt.closedate).cover? DateTime.now %>
    <div class="inline">
      <div>
        Starting: <%= (nt.opendate).strftime("%a, %b %-d, %Y at %l:%M %p") %>
        <br>Ending: <%= (nt.closedate).strftime("%a, %b %-d, %Y at %l:%M %p") %>
      </div>
      <% if nt.notetype == "alert"%>
        <%= render :partial => 'svg/alert' %>    
      <% end %>
      <div class="self-center">
        <%= nt.note %>
      </div>
    </div>
  <% end %>
<% end %>