<div class="index-instructions" data-controller="infotoggle">
  <div data-infotoggle-target="info_text_short_area" class="device-error--display">
    <%= infotext_resource.content.to_plain_text.truncate(150) %>
    <br>
    <button type="button"
      data-action="click->infotoggle#toggle touch->infotoggle#toggle" >
      <i class="text-yellow-500 far fa-caret-square-down"></i>
    </button>
  </div>
  <div data-infotoggle-target="info_text_area" class="device-error--hide">
    <%= infotext_resource.content %>
    <button type="button"
      data-action="click->infotoggle#toggle2 touch->infotoggle#toggle2" >
      <i class="text-yellow-500 far fa-caret-square-up"></i>
    </button>
  </div>
</div>