<% Notification.all.each do |nt| %>
  <% if (nt.opendate..nt.closedate).cover? DateTime.now %>
    <div class="w-full block flex justify-center sysmessage">
      <% if nt.notetype == "alert"%>
        <i class="fas fa-exclamation-circle" style="padding: 0 5px;font-size: 30px;"></i>
      <% end %>
      <div class="self-center">
        <%= nt.note %>
      </div>
    </div>
  <% end %>
<% end %>
