<% Notification.all.each do |nt| %>
  <% if (nt.opendate..nt.closedate).cover? DateTime.now %>
    <div class="w-full block flex justify-center sysmessage">
      <% if nt.notetype == "alert"%>
        <div class="mr-2">
          <%= render :partial => 'svg/alert' %>
        </div>
      <% end %>
      <div class="self-center">
        <%= nt.note %>
      </div>
    </div>
  <% end %>
<% end %>
