<% Notification.active.each do |nt| %>
  <div class="w-full flex justify-center sysmessage">
    <% if nt.notetype == "alert"%>
      <div class="mr-2">
        <%= render :partial => 'svg/alert' %>
      </div>
    <% end %>
    <div class="self-center">
      <%= nt.note %>
    </div>
  </div>
<% end %>
