<% Notification.all.each do |nt| %>
  <% if (nt.opendate..nt.closedate).include? DateTime.now %>
    <% if nt.notetype == "notice"%>
      <div class="bg-white-200 border border-um_yellow mt-4 p-2" >
    <% else %>
      <div class="bg-white-200 border border-um_yellow mt-4 p-2 flex wrap space-between" >
        <div class="mr-2">
          <%= render :partial => 'svg/alert' %>
        </div>
    <% end %>
      <div>
        <%= nt.note %>
      </div>
    </div>
  <% end %>
<% end %>