<% if attached_files.attachments.attached? %>
<ul>
  <% attached_files.attachments.each do |file| %>
    <li>
        <strong>Attachment:</strong> <%= link_to file.filename, url_for(file) %>
    </li>
  <% end %>
</ul>
<% end %>