@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

.device--display
  @apply block
  
.device--hide
  @apply hidden

.device-error--display
  @apply block
  
.device-error--hide
  @apply hidden 

main
  @apply bg-white m-4 flex-1

h1 
  @apply text-xl font-bold leading-relaxed font-sans uppercase

h2 
  @apply text-lg

h3 
  @apply text-base

h4 
  @apply text-sm

p
  @apply text-base font-light text-base

a 
  &.action-link
    @apply text-blue-600

  &:hover
    @apply text-um_yellow

  &.header-link
    @apply text-white

  &.footer-link
    @apply text-blue-900

.btn-new
  @apply mt-2 -mr-1 mb-4 w-40 rounded-md shadow-lg py-1 bg-green-500 text-sm text-white text-center ring-1 ring-black ring-opacity-5 focus:outline-none

  &.btn-blue
    @apply bg-laitan_blue

.btn-login
  @apply inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500

.fixed_header_container
  @apply shadow overflow-hidden border-b border-gray-200 sm:rounded-lg

.fixed_header
  @apply table-fixed border-collapse divide-y divide-gray-200

  tbody
    @apply block w-full overflow-auto h-96 divide-y divide-gray-200

  thead, tr
    @apply block

  thead 
    @apply bg-gray-50

  td, th
    @apply p-5 text-left w-40 

  th 
    @apply text-xs

.footer-grid-container
  display: grid
  grid-template-columns: 1fr 2fr 1fr
  grid-template-rows: 1fr max-content
  gap: 0px 0px
  grid-template-areas: "footer-left footer-center footer-right" ". footer-copyright ."

.footer-center
  grid-area: footer-center
  justify-self: center

.footer-left
  grid-area: footer-left

.footer-right
  grid-area: footer-right
  justify-self: end

.footer-copyright
  grid-area: footer-copyright
