.form-instruction, .index-instruction
  @apply bg-green-100

.home-page-text
  @apply bg-yellow-100

.dashboard-text
  @apply bg-blue-100

trix-editor 
	&.form-control 
		height: auto 
.trix-button-group--file-tools 
	display: none !important 

ol 
	list-style: auto 

ul 
  list-style: disc