## Authorizations
# Uncomment out the merging for each environment that you'd like to include.
# You can also just copy and paste the tree (do not include the "authorizations") to each
# environment if you need something different per environment.
authorizations: &AUTHORIZATIONS
 # allow_unauthenticated_bind: true
#  group_base: OU=UMICH,DC=adsroot,DC=itcs,DC=umich,DC=edu
  ## Requires config.ldap_check_group_membership in devise.rb be true
  # Can have multiple values, must match all to be authorized
  required_groups:
    # If only a group name is given, membership will be checked against "uniqueMember"
 #   - cn=admins,ou=groups,dc=test,dc=com
     - CN=lsa-vod-users,OU=Security Group,OU=LSA Information Technology,OU=Users and Groups,OU=LSA,OU=Organizations,OU=UMICH,DC=adsroot,DC=itcs,DC=umich,DC=edu
    # If an array is given, the first element will be the attribute to check against, the second the group name
    # - ["memberOf", "CN=lsa-vod-users,OU=Security Group,OU=LSA Information Technology,OU=Users and Groups,OU=LSA,OU=Organizations,OU=UMICH,DC=adsroot,DC=itcs,DC=umich,DC=edu"]
    # - ["memberOf", "CN=mcomm-lsa-was-rails-admins,OU=Groups,OU=UMICH,DC=adsroot,DC=itcs,DC=umich,DC=edu"]
  ## Requires config.ldap_check_attributes in devise.rb to be true
  ## Can have multiple attributes and values, must match all to be authorized
#  require_attribute:
#     memberOf: CN=lsa-ps-wads-aws-admins-master,OU=Passwordstate,OU=LSA Information Technology,OU=Users and Groups,OU=LSA,OU=Organizations,OU=UMICH,DC=adsroot,DC=itcs,DC=umich,DC=edu
#     memberOf: CN=mcomm-lsa-was-rails-admins,OU=Groups,OU=UMICH,DC=adsroot,DC=itcs,DC=umich,DC=edu
  #  objectClass: inetOrgPerson
  #  authorizationRole: postsAdmin
  ## Requires config.ldap_check_attributes_presence in devise.rb to be true
  ## Can have multiple attributes set to true or false to check presence, all must match all to be authorized
#  require_attribute_presence:
#    mail: true
#    telephoneNumber: true
#    serviceAccount: false

## Environment

development:
  host: adsroot.itcs.umich.edu 
  port: 389
  attribute: sAMAccountName
  base: OU=UMICH,DC=adsroot,DC=itcs,DC=umich,DC=edu
  admin_user: <%= Rails.application.credentials.ldap_admin[:user] %> 
  admin_password: <%= Rails.application.credentials.ldap_admin[:password] %>
  ssl:
    method: start_tls
    tls_options:
      ca_file: /etc/ssl/certs/ca-certificates.crt
  <<: *AUTHORIZATIONS

test:
  host: localhost
  port: 3389
  attribute: cn
  base: ou=people,dc=test,dc=com
  admin_user: cn=admin,dc=test,dc=com
  admin_password: admin_password
  ssl: simple_tls
  # <<: *AUTHORIZATIONS

production:
  host: adsroot.itcs.umich.edu 
  port: 389
  attribute: sAMAccountName
  base: OU=UMICH,DC=adsroot,DC=itcs,DC=umich,DC=edu
  admin_user: <%= Rails.application.credentials.ldap_admin[:user] %> 
  admin_password: <%= Rails.application.credentials.ldap_admin[:password] %>
  ssl:
    method: start_tls
    tls_options:
      ca_file: /etc/ssl/certs/ca-certificates.crt
  <<: *AUTHORIZATIONS