trix-editor {
  &.form-control {
    height: auto;
  }
}

.trix-button-group--file-tools {
  display: none !important;
}

.trix-content {
  ol {
    list-style: auto;
  }
  ul {
    list-style: disc;
  }

  a {
    @apply text-blue-600 underline;
  }
}

.static-page-text {
  @apply p-10;
}

.form-instructions, .index-instructions {
  @apply mt-2 px-4 text-gray-700;
}
