<h1>Editing Legacy Os Record</h1>

<%= render 'form', locals: { legacy_os_record: [@legacy_os_record, @device] } %>

<%= link_to 'Show', @legacy_os_record %> |
<%= link_to 'Back', legacy_os_records_path %>
