<footer class="footer-grid-container text-sm text-gray-700 p-4">
  <div class="footer-left">
  </div>
  <div class="footer-center">
    <div class="inline-block">
      <i class="ml-2 inline-block fa fa-phone" aria-hidden="true""></i>
      <span>734.615.0100</span>
      <i class="ml-2 inline-block fa fa-envelope" aria-hidden="true""></i>
      <span><%= mail_to "LSATechnologyServices@umich.edu", "LSATechnologyServices@umich.edu", class: "footer-link" %></span>
      <i class="ml-2 inline-block fa fa-comments" aria-hidden="true""></i>
      <span>Report Issue</span>
    </div>
  </div>
  <% if session[:current_user_id] && session[:user_memberships].include?('lsa-vod-devs-unprivileged') %>
    <div class="footer-right">
      <div class="inline-block">
        <%= link_to 'Admin Dashboard', admin_root_path, class: "footer-link mt-2 pr-4" %>
      </div>
    </div>
  <% end %>
  <div class="footer-copyright w-full flex justify-center text-sm">
    <div class="copyright">
      Copyright <%= Time.now.year %> | <%= link_to 'The Regents of the University of Michigan', 'https://regents.umich.edu', class: "footer-link" %>
    </div>
  </div>
</footer>
